#navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: blue;
	img {
		margin: 20px 20px 20px 20px;
		width: 45px;
        height: 45px;
	}
    p {
        color: white;
    }
}
