<div id="navbar">
    <img src="https://res.cloudinary.com/dee7vtyid/image/upload/v1611738144/unalremzi/unalremzilogosquare_wufr7n.png" alt="logo">
    <p>Danisan Takip</p>
</div>
<main id="main">
<section id="section-a">
    <h1>{{greeting}}</h1>
</section>
</main>
