<nav id="navbar">
    <div class="header"><img src="../img/pngwing.com.png" alt="logo">
        <a href="/"><p>Danisan Takip</p></a>
    </div>
    <form class="navlink" method="post" action="/logout">
       <button type="submit">Logout</button>
    </form>
</nav>